html {
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "public sans", sans-serif;
  font-size: 18px;
  width: 100%;
  background-color: azure;
}

img {
  display: block;
  max-width: 100%;
}

.description {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #782D50;
  width: 100%;
  height: 10%;
  margin: 0rem 0rem 0rem;
}

.img_1 {
  width: 18%;
  height: 85%;
  margin: 1rem 1rem 0rem;
}

.navbar li {
  display: none;
}

.header_link ul {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#header {
  margin-top: 7rem;
  width: 100%;
  height: 20%;
}

.image {
  width: 20%;
  height: 12%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 6rem 0.2rem 0rem;
}

h1 {
  font-size: 1.2rem;
  margin: 5rem 7rem 0rem;
}

#header hr {
  width: 5%;
  margin-left: 9rem;
}

.description1 {
  display: flex;
  margin: 0.5rem 15rem 0rem;
  height: 2.5rem;
  width: 7rem;
  background-color: #782D50;
  padding: 0.5rem 0.5rem 0rem;
}

.description1:hover {
  background-color: black;
  color: #782D50;
}

.header_link {
  display: flex;
  background-color: black;
}

.menu {
  display: none;
  position: absolute;
  background-color: black;
  right: 0;
  left: 0;
  text-align: center;
  padding: 1.5px 0;
  height: 8rem;
  width: 10rem;
  font-size: 0.9rem;
  bottom: 25rem;
}

#checkbox_toggle {
  display: none;
}

.project {
  display: block;
  background-color: black;
  width: 100%;
  height: 12rem;
  color: #782D50;
  padding: 4rem 9rem 0rem;
  margin: 0rem 0rem 0rem;
}

input[type=checkbox]:checked ~ .menu {
  display: block;
}

.menu li:hover {
  display: inline-block;
  background-color: white;
  transition: 0.3s ease;
}

.menu li + li {
  margin-top: 1px;
  font-size: 0.9rem;
}

.italic {
  display: block;
  color: white;
  background-color: black;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 17rem 15rem 0rem;
}

.slider_container {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height: 50%;
  display: flex;
  margin-top: 0rem;
 
}

.slider {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  margin-top: 0rem;
  flex-direction: row;
  animation: 20s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}

.slide {
  position: relative;
  min-width: 100%;
  height: 50%;
  display: flex;
}

.slide.one img {
  width: 100%;
  margin: -1.5rem 0rem 10rem;
  
}

.slide.two img {
  width: 100%;
 margin: -1.5rem 0rem 10rem;


}

.slide.three img {
  width: 100%;
  margin: 1.5rem -14rem 0rem;
  
}

@keyframes sliding {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
}
.slide .captionA {
  position: absolute;
  left: 0;
  bottom: 80%;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.348);
  -webkit-backdrop-filter: blur(0.1px);
          backdrop-filter: blur(0.1px);
  border-radius: 0.25rem 0.25rem;
  width: 60%;
  height: 5vh;
  display: flex;
  margin: 0rem 2rem 0rem;
  padding: 1rem 0.5rem 0rem;
}

.slide .captionB {
  position: absolute;
  left: 0;
  bottom: 40%;
  font-size: 0.8rem;
  color: black;
  background: rgba(236, 231, 231, 0.348);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 0.25rem 0.25rem;
  width: 60%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem 0rem;
  padding: 0rem 0.5rem 0rem;
}

.slide .captionC {
  position: absolute;
  left: 0;
  bottom: 20%;
  font-size: 0.7rem;
  width: 25%;
  display: flex;
  height: 2.5rem;
  padding: 0.8rem 1.5rem 0rem;
  border-radius: 0.25rem;
  background-color: #782D50;
  margin-left: 2rem;
}

.captionC:hover {
  background-color: black;
}

.slide .captionD {
  position: absolute;
  left: 0%;
  bottom: 70%;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.348);
  -webkit-backdrop-filter: blur(0.1px);
          backdrop-filter: blur(0.1px);
  border-radius: 0.25rem 0.25rem;
  width: 63%;
  height: 8vh;
  display: flex;
  margin-left: 6rem;
  padding: 1rem 1rem 0rem;
}

.slide .captionE {
  position: absolute;
  left: 0%;
  bottom: 35%;
  font-size: 0.8rem;
  color: black;
  background: rgba(236, 231, 231, 0.348);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 0.25rem 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
  padding: 0rem 1rem 0rem;
  width: 62%;
  height: 10vh;
}

.slide .captionF {
  position: absolute;
  left: 0;
  bottom: 19%;
  font-size: 0.7rem;
  margin-top: 10rem;
  width: 25%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 0.2rem 1rem 0rem;
  border-radius: 0.25rem;
  background-color: #782D50;
  margin-left: 12rem;
}

.captionF:hover {
  background-color: black;
}

.slide .captionG {
  position: absolute;
  left: 0;
  bottom: 60%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.348);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 0.25rem 0.25rem;
  width: 63%;
  height: 8vh;
  display: block;
  padding: 0.5rem 0.5rem 0rem;
  margin-left: 5rem;
}

.slide .captionH {
  position: absolute;
  left: 0;
  bottom: 30%;
  font-size: 0.8rem;
  color: black;
  background: rgba(236, 231, 231, 0.348);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 0.25rem 0.25rem;
  width: 63%;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  padding-left: 1rem;
}

.slide .captionI {
  position: absolute;
  left: 0;
  bottom: 13%;
  font-size: 0.7rem;
  width: 25%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0.2rem 1rem 0rem;
  border-radius: 0.25rem;
  background-color: #782D50;
  margin-left: 8rem;
}

.captionI:hover {
  background-color: black;
}

.container {
  margin: 0rem 0rem 3rem;
  display: block;
  width: 100%;
}

.container h2 {
  font-size:2rem;
  display: block;
  margin-left: 5rem;
}

.container p {
  width: 100%;
  display: block;
  line-height: 35px;
  margin: 1rem 0rem 0rem;
  font-size: 0.9rem;
height: 20%;
}

.container hr {
  width: 2rem;
  text-align: center;
  bottom: 70%;
  margin: 1rem 13rem 0rem;
}

.img_2 {
  width: 100%;
  height: 40%;
  background-color: whitesmoke;
  border-radius: 0.25rem 0.25rem 0 0;
}

.img_2:hover {
  background-color: whitesmoke;
}

.img_3 {
  width: 100%;
  height: 40%;
  background-color: whitesmoke;
  border-radius: 0.25rem 0.25rem 0 0;
}

.img_3:hover {
  background-color: whitesmoke;
}

.img_4 {
  width: 100%;
  height: 40%;
  background-color: whitesmoke;
  border-radius: 0.25rem 0.25rem 0 0;
}

.img_4:hover {
  background-color: whitesmoke;
}

.img_5 {
  width: 100%;
  height: 40%;
  background-color: whitesmoke;
  border-radius: 0.25rem 0.25rem 0 0;
}

.img_5:hover {
  background-color: whitesmoke;
}

.content {
  display: block;
  margin: 5rem 0rem 65rem 0rem;
  height: 90vh;
  width: 100%;
}

.content_one {
  display: block;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  height: 100rem;
  width: 20rem;
  margin-left: 0rem;
  margin-bottom: 40rem;
}

.contentA {
  display: block;
  margin-left: 2rem;
}

.content h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  line-height: 30px;
}

.grid_item1:hover {
  background-color: white;
}

.grid_item2:hover {
  background-color: white;
}

.grid_item3:hover {
  background-color: white;
}

.grid_item4:hover {
  background-color: white;
}

.grid_item1 {
  margin-top: 1rem;
  margin-bottom: rem;
  display: block;
  width: 25rem;
  height: 45rem;
  background-color: whitesmoke;
  margin-left: 2.5rem;
  border-radius: 0.5rem;
}

.grid_item1 p {
  line-height: 30px;
  font-size: 0.8rem;
  width: 25rem;
  padding: 0.5rem 1rem;
  text-align: justify;
}

.grid_item1 i {
  padding-right: 0rem;
  color: #782D50;
}

.grid_item1 .date {
  margin: 1rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.grid_item1 .comment {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.grid_item2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
  background-color: whitesmoke;
  margin-left: 2.5rem;
  height: 35rem;
  border-radius: 0.5rem;
  width: 25rem;
}

.grid_item2 p {
  line-height: 30px;
  font-size: 0.8rem;
  width: 25rem;
  padding: 0.5rem 2rem;
  text-align: justify;
}

.grid_item2 i {
  padding-right: 0rem;
  color: #782D50;
}

.grid_item2 .date {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.grid_item2 .comment {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.grid_item3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  display: block;
  justify-content: center;
  align-items: center;
  width: 25rem;
  background-color: whitesmoke;
  margin-left: 2.5rem;
  height: 30rem;
  border-radius: 0.5rem;
}

.grid_item3 p {
  line-height: 30px;
  font-size: 0.8rem;
  width: 25rem;
  padding: 0.5rem 2rem;
  text-align: justify;
}

.grid_item3 i {
  padding-right: 0rem;
  color: #782D50;
}

.grid_item3 .date {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.grid_item3 .comment {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.grid_item4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
  width: 20rem;
  background-color: whitesmoke;
  margin-left: 3rem;
  height: 16rem;
  border-radius: 0.5rem;
}

.grid_item4 p {
  line-height: 25px;
  font-size: 0.9rem;
  width: 20rem;
  height: 10rem;
  padding: 0.5rem 2rem;
  text-align: justify;
}

.grid_item4 i {
  padding-right: 0rem;
  color: #782D50;
}

.grid_item4 .date {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  height: 10rem;
}

.grid_item4 .comment {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  height: 10rem;
}

.grid_item button {
  color: white;
  border: 1px solid rgb(69, 235, 235);
  background-color: #782D50;
  width: 10%;
  height: 9vh;
  margin: 2rem 3rem 3rem;
  border-radius: 5px;
}

.grid_item button:hover {
  background-color: black;
}

.grid_item a {
  color: white;
  text-decoration: none;
}

.container1 {
  width: 100%;
  margin: 0;
}

.slide .img {
  height: 60rem;
  padding: 0rem 0rem 0rem;
  width: 100%;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

.slide .img_6 {
  position: absolute;
  left: 0;
  bottom: 20%;
  width: 70%;
  height: 15rem;
  display: block;
  margin: 230rem -10rem 0rem;
  padding-right: 20rem;
}

.slide hr {
  width: 5%;
  position: absolute;
  left: 0;
  bottom: 77%;
  display: block;
  margin: 229rem 6rem 0rem;
}

.slide .captionAA {
  position: absolute;
  left: 0;
  bottom: 90%;
  font-size: 1.5rem;
  color: orangered;
  width: 45vw;
  height: 25vh;
  display: flex;
  margin: 200rem 2rem 0rem;
  padding-top: 1.5rem;
}

.slide .captionA1 {
  position: absolute;
  left: 0;
  bottom: 65%;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  width: 45%;
  height: 7vh;
  display: flex;
  margin: 190rem 1rem 0rem;
}

.slide .captionBB {
  position: absolute;
  left: 0;
  bottom: 60%;
  font-size: 0.8rem;
  color: white;
  width: 60%;
  display: block;
  margin: 200rem 2rem 0rem;
  line-height: 30px;
  padding-right: 15rem;
  height: 3vh;
}

.slide .captionCC {
  position: absolute;
  left: 0;
  color: white;
  bottom: 14%;
  font-size: 0.9rem;
  width: 14%;
  display: block;
  margin: 200rem 15rem 0rem;
  padding-left: 1rem;
  padding-top:1rem;
  height: 3rem;
  border-radius: 0.25rem;
  background-color: #782D50;
}

.captionCC:hover {
  background-color: black;
}

.container2 {
  display: inline-block;
  width: 100%;
}

.img_7 {
  margin-left: 0rem;
  width: 50%;
  height: 70vh;
  margin-top: 0rem;
  display: block;
}

.row_item5 {
  display: block;
  margin: 2rem 0rem 2rem;
  width: 100%;
}

.row_item5 h2 {
  font-size: 1.5rem;
  margin: 0rem 2rem 1.5rem;
  width: 50%;
}

.row_item5 hr {
  width: 2rem;
  text-align: center;
  margin: 0rem 2rem 2rem;
}

.row_item5 span {
  display: block;
  margin-left: 5rem;
  width: 17rem;
  bottom: 2rem;
  position: relative;
  font-size: 1rem;
}

.n1 {
  position: absolute;
  width: 10vw;
  height: 10vh;
  margin-left: 6rem;
  font-size: 4rem;
  opacity: 0.1;
}

.n2 {
  position: absolute;
  width: 10vw;
  height: 10vh;
  margin-left: 6rem;
  font-size: 4rem;
  opacity: 0.1;
}

.n3 {
  position: absolute;
  width: 10vw;
  height: 10vh;
  margin-left: 6rem;
  font-size: 4rem;
  opacity: 0.1;
}

.row_item5 h3 {
  margin-bottom: 0rem;
  font-size: 25px;
  margin-left: 0rem;
}

h3 i {
  display: block;
  padding: 1.5rem 1.5rem 0;
  color: white;
  background-color: #782D50;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.row_item5 p {
  display: block;
  font-size: 0.8rem;
  width:100%;
  margin: 0rem 3rem 0rem;
  line-height: 30px;
  padding-right: 22rem;
  text-align: justify;
}

.img_8 {
  height: 100%;
  width: 100%;
}

.container3 {
  display: flex;
  position: relative;
  width: 100%;
}

.captionA2 {
  position: absolute;
  left: 0;
  bottom: 71%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  border-radius: 0 2rem 2rem 0;
  width: 100%;
  height: 7vh;
  display: flex;
  margin-left: 7.5rem;
}

.captionB2 {
  position: absolute;
  left: 0;
  bottom: 55%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  border-radius: 0 2rem 2rem 0;
  width: 100%;
  height: 7vh;
  display: flex;
  margin-left: 7.5rem;
}

.captionC2 {
  position: absolute;
  left: 0;
  bottom: 30%;
  font-size: 0.8rem;
  color: white;
  text-transform: capitalize;
  border-radius: 0 2rem 2rem 0;
  width: 100%;
  height: 12vh;
  display: flex;
  margin-left: 0rem;
}

.captionD2 {
  position: absolute;
  left: 0;
  bottom: 10%;
  font-size: 0.9rem;
  color: #782D50;
  background-color: white;
  border-radius: 0.25rem;
  width: 8rem;
  height: 5vh;
  display: flex;
  margin-left: 4rem;
  padding: 0.7rem 1rem 0rem;
  text-align: center;
}

.captionD2:hover {
  background-color: black;
}

.captionD2 a {
  color: #782D50;
  text-decoration: none;
}

.captionE2 {
  position: absolute;
  left: 0;
  bottom: 10%;
  font-size: 0.9rem;
  color: white;
  background-color: #782D50;
  border-radius: 0.25rem;
  width: 9rem;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13rem;
  padding: 0rem 1rem 0rem;
  text-align: center;
}

.captionE2 a {
  color: white;
  text-decoration: none;
}

.captionE2:hover {
  background-color: black;
}

.container {
  margin: 0rem 0rem 3rem;
  display: block;
  width: 100%;
}

.container_home h2 {
  font-size:2rem;
  display: block;
  margin-left: 5rem;
}

.container_home p {
  width: 100%;
  display: block;
  line-height: 35px;
  margin: 1rem 0rem 0rem;
  font-size: 0.9rem;
height: 20%;
}

.container_home hr {
  width: 2rem;
  text-align: center;
  bottom: 70%;
  margin: 1rem 13rem 0rem;
}

.content1 {
  display: block;
  width: 70%;
}

.row_item6 p {
  padding-left: 1rem;
  width: 18rem;
  padding-bottom: 4rem;
  height: 4rem;
  margin-left: 3rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  margin-bottom: 1.7rem;
  text-align: justify;
}

.row_item6 span {
  display: flex;
  position: relative;
  bottom: 4rem;
}

.row_item6 strong {
  flex-direction: row;
  position: relative;
  bottom: 0rem;
}

.row_item6:hover {
  opacity: 0.5;
}

#content1 {
  display: block;
  margin-bottom: 0rem;
}

#content1i {
  display: block;
  position: relative;
  bottom: 12rem;
}

.img_9 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 8rem;
  display: block;
  margin-bottom: 1rem;
}

.img_10 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 8rem;
  display: block;
  margin-bottom: 1rem;
}

.img_11 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 8rem;
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#row1 {
  position: relative;
  bottom: 4rem;
}

#row1 strong {
  position: relative;
  bottom: 1rem;
}

.img_12 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 8rem;
  display: block;
  margin-bottom: 1rem;
}

.content2 {
  color: white;
  background-color: #782D50;
  width: 15rem;
  padding: 2rem 1rem 0rem;
  height: 6vh;
  margin: 0 0 0 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  position: relative;
  display: flex;
  bottom: 22rem;
}

.content2 a {
  color: white;
  text-decoration: none;
}

.content2:hover {
  background-color: black;
}

#container {
  text-align: center;
  display: block;
  position: relative;
  bottom: 18rem;
  width: 100%;
}

#container h2 {
  font-size: 1.5rem;
  display: block;
  margin-left: -25rem;
  margin-top: 0;
  justify-content: center;
  align-items: center;
}

#container p {
  width: 20rem;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  letter-spacing: 0px;
  line-height: 25px;
  margin-left: 4rem;
  margin-top: 0;
  font-size: 0.8rem;
}

#container hr {
  width: 2rem;
  text-align: center;
  margin-left: 12rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.content3 {
  bottom: 13rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 5rem 0 ;
  width: 100rem;
}

.content3 img:hover {
  opacity: 0.5;
}

.overlay {
  position: relative;
  display: inline-block;
}

.overlay:hover .content3A {
  display: block;
}

.content3A a {
  color: #782D50;
}

.content3A {
  padding-top: 7px;
  padding-right: 18px;
  position: absolute;
  right: 87%;
  top: 30%;
  display: none;
  font-size: 50px;
}

#img_13 {
  width: 20rem;
  height: 18rem;
  display: flex;
  margin-bottom: 1rem;
}

#img_14 {
  width: 20rem;
  height: 18rem;
  display: block;
  margin-bottom: 1rem;
}

#img_15 {
  width: 20rem;
  height: 18rem;
  display: block;
}

.grid_5 {
  display: flex;
  margin-bottom: 0rem;
  width: 50%;
}

.grid_5 img {
  height: 40rem;
  margin-top: 0rem;
  width: 50%;
  position: relative;
  bottom: 10rem;
}

.grid_6 {
  position: absolute;
  left: 0;
  width: 50%;
  height: 35vh;
  display: flex;
  flex-direction: column;
}

.grid_6 h2 {
  position: absolute;
  left: 0;
  bottom: 63.5rem;
  font-size: 1.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.348);
  -webkit-backdrop-filter: blur(2px);
 backdrop-filter: blur(2px);
  width: 13rem;
  height: 6vh;
  display: flex;
  padding: 0.5rem 2rem 0rem;
}

.grid_6 h3 {
  position: absolute;
  left: 0;
  bottom: 55rem;
  font-size: 0.9rem;
  color: #782D50;
  background: rgba(0, 0, 0, 0.348);
  -webkit-backdrop-filter: blur(1px);
 backdrop-filter: blur(1px);
  width: 13rem;
  height: 15vh;
  display: flex;
  padding-left: 2rem;
  margin-top: 0.5rem;
}

.grid_6 h3:hover {
  color: white;
}

.grid_6i {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  bottom: 50rem;
  font-size: 0.7rem;
  color: #782D50;
  background: rgba(0, 0, 0, 0.348);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  width: 13rem;
  height: 9vh;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 2rem;
}

.grid_6i .time {
  padding-right: 2rem;
}

.grid_6 p {
  position: absolute;
  left: 0;
  bottom: 30rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.348);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 13rem;
  height: 37vh;
  display: flex;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.grid_7 {
  position: absolute;
  left: 0;
  width: 50%;
  height: 35vh;
  display: flex;
  flex-direction: column;
}

.grid_7 h2 {
  position: absolute;
  left: 0;
  bottom: 51rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  width: 40vw;
  height: 25vh;
  display: flex;
  margin-left: 12rem;
  padding-left: 3rem;
  padding-right: 0rem;
}

.grid_7 hr {
  position: absolute;
  left: 0;
  bottom: 58.5rem;
  font-weight: 600;
  color: white;
  width: 2rem;
  margin-left: 15rem;
}

.grid_7 p {
  position: absolute;
  left: 0;
  bottom: 35rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: white;
  width: 17rem;
  height: 30vh;
  display: flex;
  margin-left: 12rem;
  padding-left: 3rem;
  padding-right: 2rem;
}

.grid_7 p:hover {
  color: #782D50;
}

.grid_7i {
  position: absolute;
  left: 0;
  bottom: 28rem;
  font-size: 0.6rem;
  color: #782D50;
  width: 15rem;
  height: 25vh;
  display: flex;
  margin-left: 11rem;
  padding-left: 3rem;
}

.grid_7i .time {
  padding-right: 2rem;
}

.grid_7 button {
  position: absolute;
  left: 0;
  bottom: 55rem;
  font-size: 0.9rem;
  color: white;
  background-color: #782D50;
  width: 5rem;
  height: 10vh;
  display: flex;
  margin-left: 14rem;
  border: none;
  padding-right: 2rem;
}

.grid_7 .Date {
  margin-top: 1.5rem;
}

.content4 {
  width: 50%;
  margin-top: -7rem;
}

.content4 h2 {
  font-size: 1.5rem;
  display: block;
  margin-left: 9rem;
}

.content4 p {
  width: 35%;
  text-align: justify;
  display: block;
  justify-content: space-between;
  line-height: 25px;
  margin-left: 3.5rem;
  margin-top: 1.5rem;
  font-size: 0.8rem;
}

.content4 hr {
  width: 2rem;
  text-align: center;
  margin-left: 12rem;
  bottom: 70%;
  margin-top: 1rem;
}

.content5 {
  margin-top: 2rem;
  display: block;
  margin-left: 2rem;
  margin-bottom: 3rem;
  width: 40%;
}

.img_17 {
  width: 15rem;
  height: 30vh;
  margin-bottom: 1rem;
  border: 1px solid whitesmoke;
  margin-left: 2rem;
}

.img_18 {
  width: 15rem;
  height: 30vh;
  margin-bottom: 1rem;
  border: 1px solid whitesmoke;
  margin-left: 2rem;
}

.img_19 {
  width: 15rem;
  height: 30vh;
  border: 1px solid whitesmoke;
  margin-left: 2rem;
}

.container4 {
  width: 25%;
  height: 63rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
}

.img_20 {
  width: 15rem;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 2rem 5rem 2rem;
  padding: 1rem 0rem 0rem;
}

.content6 h3 {
  margin-top: 0.5rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  color: #782D50;
  font-size: 1.5rem;
}

.content6 hr {
  width: 1.5rem;
  margin-left: 7rem;
  margin-top: 0rem;
}

.content7 h3 {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  color: #782D50;
  font-size: 1.5rem;
}

.content7 hr {
  width: 1.5rem;
  margin-left: 8rem;
  margin-top: 1rem;
}

.container4 ul {
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
}

.container4 li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: white;
  list-style: disc;
}

.container4 p {
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: 1rem;
  color: white;
  margin-top: 1.5rem;
  margin-left: 5rem;
  width: 17rem;
}

.content8 h3 {
  margin-top: 3rem;
  margin-left: 6rem;
  margin-bottom: 0rem;
  color: #782D50;
}

.content8 hr {
  width: 3vw;
  margin-left: 7rem;
  margin-top: 1rem;
  color: #782D50;
}

.content8 P {
  color: #782D50;
  background-color: white;
  display: block;
  width: 9rem;
  padding: 0.8rem 1.6rem 0rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  height: 6vh;
}

.content8 a {
  color: #782D50;
  text-decoration: none;
}

p i {
  display: block;
  padding-right: 1rem;
  color: white;
}

h4 i {
  display: block;
  color: #782D50;
  margin-top: 1.5rem;
  font-size: 1rem;
  margin-left: 2rem;
  padding-left: 1rem;
}

.content8 P:hover {
  background-color: black;
  color: white;
}

footer {
  display: flex;
  background-color: black;
  width: 25%;
  height: 12vh;
  color: white;
  padding-top: 2rem;
  padding-left: 1.7rem;
  font-size: 0.7rem;
  position: relative;
  bottom: 0rem;
}

footer span {
  color: #782D50;
}


.about_item1 {
  width: 100%;
  height: 15vh;
  margin: -2rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
 }

.about_item1 h2 {
  display: flex;
  text-align: center;
  width: 100%;
padding-top: 2rem;
  justify-content: center;
  font-size: 2.5rem;
 
}
.about_item1 p{
  display: flex;
  text-align: center;
  width: 100%;
padding-top: 1rem;
  justify-content: center;
  font-size: 0.8rem;
}
.about_item2{
  display: block;
  margin: 5rem 0rem 0rem;
  width: 100%;
 
}
.about_item2 img{
  margin-left: 0rem;
width: 100%;
height: 40vh;
display: block;

}
.about_item2  h2{
width: 100%;
height: 5vh;
margin: 2rem 6rem 0rem;
display: block;
font-size: 2rem;


}
.about_item2  span{
  font-weight: bold;
}
.about_item2  p{
  
width:100%;
height: 23vh;
margin-top: 1rem 0rem 0rem;
display: block;
line-height: 25px;
padding: 0.5rem 2rem;
text-align: justify;
font-size: 0.9rem;
}
.about_item2  hr{
  margin-left: 12rem;
width: 2rem;
margin-top: 1rem;
display: block;

}
.about_item3{
  display:block;
  width: 13rem;
  height: 6vh;
  background-color:#782D50;
  color: white;
  padding: 1rem 2.2rem;
  border-radius: 0.25rem;
  margin: 2rem 2rem 4rem;
  font-size: 0.9rem;
}
.about_item3:hover{
  background-color: black;
}

.about_item4{
  display: block;
  margin: 5rem 0rem 3rem;
}
#fourA{
  display: flex;
  flex-direction: row;
margin-left: 4rem;
font-size: 2.5rem;
font-weight: 600;
color: black;

}
#fourA i{
 display: flex;
 width: 70px;
 height: 70px;
 border-radius: 50%;
color: white;
background-color: #782D50;
padding: 1rem 1.3rem;
font-size: 1.9rem;
}
#fourA span{
margin-top: 1rem;
margin-left: 1rem;

}
.fourA{
  font-size: 1rem;
  margin: 0rem 12rem 0rem;
  position: relative;
  bottom: 1rem;
  width: 10rem;
}
#three{
  margin: 4rem 4rem 0rem;
  font-size: 2.5rem;
  color: black;
  font-weight: 600;
}
#three i{
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
background-color: #782D50;
padding: 1rem 1.2rem;
font-size: 1.9rem;
}
#three span{
  margin-top: 0rem;
  margin-left: 5.5rem;
  padding-bottom: 3rem;
 position: relative;
 bottom: 3rem;
   }
.three{
  font-size: 1rem;
  margin: 0rem 12rem 0rem;
  position: relative;
  bottom:3rem;
  width: 7rem;
}
#fourB{
  margin: 3rem 4rem 0rem;
  font-size: 2.5rem;
  color: black;
  font-weight: 600;
}
#fourB i{
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
background-color: #782D50;
padding: 1rem 1.5rem;
font-size: 1.9rem;
}
#fourB span{
  margin-top: 0rem;
  margin-left: 5.5rem;
  padding-bottom: 3rem;
 position: relative;
 bottom: 3rem;
   }
.fourB{
  font-size: 1rem;
  margin: 0rem 12rem 0rem;
  position: relative;
  bottom: 4rem;
}
.about_item5{
  display: block;
  text-align: center;
  color: white;
  background-color: #782D50;
  padding-top: 4rem;
  width: 100%;
  height: 85vh;
  margin-left: 0rem;
  
}
.about_item5 h2{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.about_item5 h3{
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.about_item5 p{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 line-height: 30px;
padding: 0.5rem 2rem 0rem;
text-align: justify;
font-size: 0.9rem;
}
.about_item5 span{
  display: block;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 6vh;
  margin: 2rem 10rem 0rem;
  background-color: white;
  color: #782D50;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  padding: 1.5rem 0rem 0rem;
}
.about_item5 span:hover{
  background-color: black;
}
.about_item5 a{
  color: #782D50 ;
  text-decoration: none;
}

#creation{
  display: block;
  margin: 3rem 0rem 0rem;
  width: 100%;

}
.about_item6 h2{
  width: 100%;
  display: block;
 margin-left: 8rem;
  font-size: 2rem;
}
.about_item6 span{
  color: #782D50;
}
.about_item6 hr{
  width: 2rem;
  margin: 2rem 13rem 2rem;
 
}
.about_item6 p{
  display: block;
  width: 100%;
  margin: 0rem 0rem 1.5rem;
  line-height: 35px;
  padding: 0.5rem 1rem;
  text-align: justify;
  font-size: 0.9rem;
}
.about_item6 img{
  display: block;
  width: 100%;
  height: 35vh;
  margin: 0rem 0rem 0rem;
}
.about_item7 {
  margin: 5.5rem 1rem 0rem;
 
}
.about_item7 label{
  display: block;
  font-size: 1rem;
  font-weight: bold;
  height: 8vh;
  width: 100%;
  margin: 0rem 0rem 0.7rem;
  padding: 0.5rem 2rem 0rem;
background-color: whitesmoke;
}
.about_item7 input{
  width: 10vw;
  height: 3.5vh;
padding: 1rem 0rem 0rem;
}
.about_item7 p{
  
display: block;
width: 100%;
font-weight: lighter;
line-height: 25px;
padding: 0rem 1rem;
text-align: justify;
font-size: 0.9rem;
}
#term-of-office{
 
 margin-bottom: 4rem;
 padding: 0rem 1rem 0rem;
}
.term-of-office p{
  width: 100%;
  margin: -3.5rem 0rem -1rem;
}
.vision-and-goal p{
  margin: -3.5rem 0rem -1rem;

}
#project-committee{
margin-top:-0rem ;
margin-bottom:-0rem ;
}
.project-committee p{
  margin: -3.5rem 0rem -1rem;
  width: 100%;
}
.membership-status p{
  margin: -3.5rem 0rem -1rem;
  width: 100%;
}
.specific-objective p{
  margin: -3.5rem 0rem -1rem;
  width: 100%;
  line-height: 30px;
}
.activities p{
  margin: -3.5rem 0rem -1rem;
  width: 100%;
}


  .blog_item1 {
    width: 100%;
    margin: -1.5rem 3rem 0rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: 15vh;
    padding: 0rem 4rem 0rem;
  }
  .blog_item1 h2 {
    display: flex;
    text-align: center;
    width:30% ;
    height: 6vh;
  padding-top: 2rem;
    justify-content: center;
    font-size: 2rem;
  }
  .blog_item1 p{
    display: flex;
    text-align: center;
    width: 30%;
    height: 5vh;
  padding-top: 2rem;
    justify-content: center;
   
  }
#blog1{
  display: block;
  margin-top: 5rem;
  margin-left: 1rem;
}
#blog1:hover{
  opacity: 0.5;
}

.container_blog {
  margin: 3rem 0rem 3rem;
  display: block;
  width: 100%;
}

.container_blog h2 {
  font-size:1.5rem;
  display: block;
  margin-left: 6.5rem;
}

.container_blog p {
  width: 100%;
  display: block;
  line-height: 30px;
  margin: 1rem 0.5rem 0rem;
  font-size: 0.9rem;
  text-align: justify;
height: 20%;
padding-right:38rem;
}

.container_blog hr {
  width: 2rem;
  text-align: center;
  bottom: 70%;
  margin: 1rem 12rem 0rem;
}

.blog_item2{

  width: 39%;
  height:85vh;
  display: block;
  background-color: whitesmoke;
  margin-left: 0rem;
  border-radius: 0.5rem 0.5rem;
}
.blog_item2 img{
display: block;
width: 100%;
height: 15vh;
border-radius: 0.5rem 0.5rem;
}
.blog_item2 h2{
  display: block;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
font-size: 1rem;
}
.blog_item2 p{
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 30px;
 padding: 0rem 1rem 0rem;
  text-align: justify;
  font-size: 0.9rem;
  width: 100%;
}
.blog_item2 i{
  padding-right: 0rem;
}


.blog_item2 .date{
  margin-top: 1rem;
  margin-bottom: 1rem;
font-size: 0.9rem;
padding-left: 2rem;
color: #782D50;
}
.blog_item2 .comment{
  margin-top: 1rem;
  margin-bottom: 1rem;
font-size: 0.9rem;
padding-left: 1.5rem;
color: #782D50;
}

.blog_item3{

  width: 39%;
  height: 60vh;
  display: block;
  background-color: whitesmoke;
  margin:1rem 0rem 0rem ;
  border-radius: 0.5rem 0.5rem;

}
.blog_item3 img{
display: block;
width: 100%;
height:35%;
border-radius: 0.5rem 0.5rem;
}
.blog_item3 h2{
  display: block;
  padding-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
font-size: 1rem;
}
.blog_item3 p{
  display: block;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 30px;
  padding: 0.5rem 1rem;
  text-align: justify;
  font-size: 0.9rem;
  width: 100%;
}
.blog_item3 i{
  padding-right: 0rem;
}

.blog_item3 .date{
  margin-top: 1rem;
  margin-bottom: 1rem;
font-size: 0.9rem;
padding-left: 2rem;
color: #782D50;
}
.blog_item3 .comment{
  margin-top: 1rem;
  margin-bottom: 1rem;
font-size: 0.9rem;
padding-left: 1.5rem;
color: #782D50;
}

.blog_item4{

  width: 39%;
  height: 70vh;
  display: block;
  background-color: whitesmoke;
  margin: 1rem 0rem 0rem;
  
  border-radius: 0.5rem 0.5rem;

}
.blog_item4 img{
display: block;
width: 100%;
height: 35%;
border-radius: 0.5rem 0.5rem;
}
.blog_item4 h2{
  display: block;
  padding-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
font-size: 1rem;
}
.blog_item4 p{
  display: block;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 30px;
  padding: 0.5rem 1rem;
  text-align: justify;
  font-size: 0.9rem;
}
.blog_item4 i{
  padding-right: 0rem;
}


.blog_item4 .date{
  margin-top: 1rem;
  margin-bottom: 1rem;
font-size: 0.9rem;
padding-left: 2rem;
color: #782D50;
}
.blog_item4 .comment{
  margin-top: 1rem;
  margin-bottom: 1rem;
font-size: 0.9rem;
padding-left: 1.5rem;
color: #782D50;
}
#btn{
  margin:3rem 1rem 3rem;
  width: 100%;
  height: 10vh;
 
}
.Btn a{
  color: black;
  text-decoration: none;
}
.Btn1 a{
  color: white;
  text-decoration: none;
}
.Btn2 a{
  color: black;
  text-decoration: none;
}
.Btn3 a{
  color: black;
  text-decoration: none;
}
.Btn4 a{
  color: black;
  text-decoration: none;
}
.Btn{
  width: 15vw;
  height: 6vh;
  font-size: 0.9rem;
  border: none;
}
.Btn:hover{
background-color: #782D50;
color: white;
}
.Btn1{
  width: 8vw;
  height: 6vh;
  font-size: 0.9rem;
  color: white;
  background-color: #782D50;
  border: none;
}
.Btn2{
  width: 8vw;
  height: 6vh;
  font-size: 0.9rem;
  border: none;
}
.Btn2:hover{
  background-color: #782D50;
  color: white;
   }
.Btn3{
  width: 8vw;
  height: 7vh;
  font-size: 0.9rem;
  border: 2px solid aqua;
 
}
.Btn3:hover{
  background-color: #782D50;
  color: white;
   }
.Btn4{
  width: 10vw;
  height: 6vh;
  font-size: 0.9rem;
  border: none;
}
.Btn4:hover{
  background-color: #782D50;
  color: white;
   }


   .events_item1{
    margin: -2rem 0rem 0rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: 18vh;
   }
  .events_item1 h2 {
    display: flex;
    text-align: center;
    width: 100%;
  padding-top: 1.5rem;
    justify-content: center;
    font-size: 2.5rem;
  }
  .events_item1 p{
    display: flex;
    text-align: center;
    width:100%;
  padding-top: 1rem;
    justify-content: center;
    font-size: 0.8rem;
  }
  .events_item1 p:hover{
    color: #782D50;
  }
  #events1{
    display: block;
    margin: 3rem 1rem 0rem;
    width: 100%;
  }
  
  .events_item2{
  
    width: 85%;
    height: 80vh;
    display: block;
    background-color: whitesmoke;
  margin: 1rem 2rem 0rem;
    border-radius: 0.5rem 0.5rem;
  }
  
  .events_item2 h3{
    display: block;
    padding: 1rem 1rem 0rem;
    margin: 1rem 0rem 1rem;
  font-size: 1.2rem;
  line-height: 30px;
  text-align: justify;
  }
  .events_item2 p{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 35px;
    padding: 0.5rem 1rem;
    text-align: justify;
    font-size: 0.9rem;
  }
  .events_item2 i{
    padding-left: 1rem;
  }
  
  
  .events_item2 .date{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 0rem;
  color: #782D50;
  }
  .events_item2 .comment{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 2rem;
  color: #782D50;
  
  }
  .events_item2 button{
    margin-left: 3rem;
    width: 10rem;
    height: 7vh;
    background-color: #782D50;
    color: white;
    border-radius: 0.25rem 0.25rem;
    border: 0.5px solid aqua;
  }
  .events_item2 button:hover{
    background-color: black;
    color: white;
  }
  
  .events_item3{
  
    width: 85%;
    height: 50rem;
    display: block;
    background-color: whitesmoke;
    margin: 0rem 2rem 0rem;
    border-radius: 0.5rem 0.5rem;
    margin-bottom: 3rem;
  }
  
  .events_item3 h3{
    display: block;
    padding: 1rem 1rem 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  font-size: 1.25rem;
  }
  .events_item3 p{
    display: block;
    padding: 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 30px;
    padding: 0.5rem 1rem;
    text-align: justify;
    font-size: 0.9rem;
  }
  .events_item3 i{
    padding-right: 0rem;
  }
  
  .events_item3 .date{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 2rem;
  color: #782D50;
  }
  .events_item3 .comment{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1.5rem;
  color: #782D50;
  
  }
  .events_item3 button{
    margin-left: 3rem;
    width: 10rem;
    height: 7vh;
    background-color: #782D50;
    color: white;
    border-radius: 0.25rem 0.25rem;
    border: 0.5px solid aqua;
  }
  .events_item3 button:hover{
    background-color: black;
    color: white;
  }


  #projects .events_item1{
    margin-left: 0rem;
    width: 100%;
    }
    
    
.container_projects {
  margin: 2rem 0rem 3rem;
  display: block;
  width: 100%;
}

.container_projects h2 {
  font-size:2rem;
  display: block;
  margin-left: 5rem;
}

.container_projects p {
  width: 100%;
  display: block;
  line-height: 35px;
  margin: 1rem 0rem 0rem;
  font-size: 0.9rem;
height: 20%;
text-align: justify;
}

.container_projects hr {
  width: 2rem;
  text-align: center;
  bottom: 70%;
  margin: 1rem 13rem 0rem;
}
    
.projects_item1 {
  margin-top: 1rem;
  margin-bottom: rem;
  display: block;
  width: 25rem;
  height: 40rem;
  background-color: whitesmoke;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

.projects_item1 p {
  line-height: 30px;
  font-size: 0.8rem;
  width: 25rem;
  padding: 0.5rem 1rem;
  text-align: justify;
}

.projects_item1 i {
  padding-right: 0rem;
  color: #782D50;
}

.projects_item1 .date {
  margin: 1rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.projects_item1 .comment {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.projects_item2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
  background-color: whitesmoke;
  margin-left: 0.5rem;
  height: 35rem;
  border-radius: 0.5rem;
  width: 25rem;
}

.projects_item2 p {
  line-height: 30px;
  font-size: 0.8rem;
  width: 25rem;
  padding: 0.5rem 2rem;
  text-align: justify;
}

.projects_item2 i {
  padding-right: 0rem;
  color: #782D50;
}

.projects_item2 .date {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.projects_item2 .comment {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.projects_item3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  display: block;
  justify-content: center;
  align-items: center;
  width: 25rem;
  background-color: whitesmoke;
  margin-left: 0.5rem;
  height: 35rem;
  border-radius: 0.5rem;
}

.projects_item3 p {
  line-height: 30px;
  font-size: 0.8rem;
  width: 25rem;
  padding: 0.5rem 2rem;
  text-align: justify;
}

.projects_item3 i {
  padding-right: 0rem;
  color: #782D50;
}

.projects_item3 .date {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.projects_item3 .comment {
  margin: 2rem 2rem 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
}

.projects_item4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
  width: 25rem;
  background-color: whitesmoke;
  margin-left: 2.5rem;
  height: 25rem;
  border-radius: 0.5rem;
}

.projects_item4 p {
  line-height: 30px;
  font-size: 0.9rem;
  width: 25rem;
  height: 10rem;
  padding: 0.5rem 2rem;
  text-align: justify;
}

.projects_item4 i {
  padding-right: 0rem;
  color: #782D50;
}

.projects_item4 .date {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  height: 10rem;
}

.projects_item4 .comment {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  height: 10rem;
}
    
    #gallery .events_item1{
      margin: -1.5rem 0rem 0rem;
    width: 100%;
    padding: 1rem 0rem 0rem;
    }
    
    .gallery3{
      margin: 5rem 1.5rem 3rem;
      display: block;
      width: 100%;
    }
    .gallery3 img{
      width: 25rem;
      height: 20rem;
    }
    .gallery3A{
      display: block;
     
    }
    .gallery3B{
      display: block;
     
    }
    .gallery3C{
      display: block;
      
    }
    
    .img_13{
      width: 25vw;
      height: 43vh;
      margin: 0rem  1rem 1rem;
    }
    
    
    .img_14{
      width: 25vw;
      margin: 0rem  1rem 1rem;
      height: 43vh;
    }
    .img_15{
      width: 25vw;
      margin: 0rem  1rem 1rem;
      height: 43vh;
    }
    
#contact .events_item1{
  margin-left: 0rem;
  width: 100%;
}
.contact_item1{
  margin-left: 0rem;
  width: 100%;
}
.contact_item1 h2{
  margin: 2rem 7rem 0rem;
  font-size: 2.2rem;
  font-weight: bold;
  width: 100%;
}
.contact_item1 hr{
  margin:1.5rem 12rem 2rem;
  width: 2rem; 
}

.contact_item1 p{
  margin: 1rem 3rem 1rem;
  width: 2rem;
  margin-top: 1rem;
 width: 100%;
 margin-bottom: 2rem;
}
.contact_item1 span{
  margin-right: 2rem;
  width: 3rem;
  height: 3rem;
  color: white;
  border-radius: 50%;
  background-color: #782D50;
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
}

.contact_item2{
  margin-left: 0rem;
  width: 100%;
}
.contact_item2 h2{
  margin-left: 4rem;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 2rem;
}
.contact_item2 hr{
  margin-left: 4rem;
  width: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.contact_item2 p{
  margin: 1rem 3rem 2rem;
  width: 2rem;
  line-height: 30px;
 width: 100%;
 font-weight: bold;
 font-size: 1.3rem;
 padding-right: 5rem;
}
.contact_item3{
  display: block;
  line-gap-override: 1rem;
  margin-left: 0rem;
  margin-bottom: 0.5rem;
}
.contact_item3A{
  display: block;
}
.contact_item3B{
  display: block;
 
}
.contact_item3 #name{
  width: 90%;
  height: 8vh;
  background-color: whitesmoke;
  padding-left: 1rem;
  border: none;
  margin:0rem 1rem 1rem;
  border-radius: 0.25rem 0.25rem;
  font-size: 1.1rem;
}

.contact_item3 #email{
  width: 90%;
  height: 8vh;
  background-color: whitesmoke;
  padding-left: 1rem;
  border: none;
  margin:0rem 1rem 1rem;
  border-radius: 0.25rem 0.25rem;
  font-size: 1.1rem;
  
}

.contact_item3 #subject{
  width:90%;
  height: 8vh;
  background-color: whitesmoke;
  padding-left: 1rem;
  border: none;
  margin:0rem 1rem 1rem;
  border-radius: 0.25rem 0.25rem;
  font-size: 1.1rem;
}

.contact_item3 #number{
  width: 90%;
  height: 8vh;
  background-color: whitesmoke;
  padding-left: 1rem;
  border: none;
  margin:0rem 1rem 1rem;
  border-radius: 0.25rem 0.25rem;
  font-size: 1.1rem;
 
}
.contact_item4 textarea{
  width: 90%;
  height: 30vh;
  background-color: whitesmoke;
  padding-left: 1rem;
  border: none;
  margin:0rem 1rem 1rem;
  border-radius: 0.25rem 0.25rem;
  padding-top: 1rem;
  font-size: 1.1rem;
}
.contact_item5 button{
  width: 12rem;
  height: 8vh;
  margin:0rem 1rem 1rem;
  color: white;
  background-color: #782D50;
  border-radius: 0.25rem 0.25rem;
  border: none;
}
.contact_item5 a{
  color: white;
  text-decoration: none;
}
.contact_item5 button:hover{
  background-color: black;
  color: white;
}
.contact_item6{
  margin-bottom: 3rem;
  width: 100%;
}
.contact_item6 em{
  margin:0rem 2rem 1rem;
  width: 100%;
  font-size: 1.2rem;
 
}

.container_volunteers {
  margin: 4rem 0rem 3rem;
  display: block;
  width: 100%;
}

.container_volunteers h2 {
  font-size:2rem;
  display: block;
  margin-left: 5rem;
}

.container_volunteers p {
  width: 100%;
  display: block;
  line-height: 35px;
  margin: 1rem 5rem 0rem;
  font-size: 0.9rem;
height: 20%;
}

.container_volunteers hr {
  width: 2rem;
  text-align: center;
  bottom: 70%;
  margin: 1rem 13rem 0rem;
}
#donate .events_item1{
  margin-left: 0rem;
  width: 100vw;
}
.donate_item1{
  margin-left: 7rem;
}
.donate_item1 h2{
  margin-left: 10rem;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 2rem;
}
.donate_item1 hr{
  margin-left: 10rem;
  width: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.donate_item1 p{
  margin-left: 10rem;
  width: 2rem;
  margin-top: 1rem;
 width: 25vw;
 margin-bottom: 2rem;
}
.donate_item1 span{
  margin-right: 2rem;
  width: 3rem;
  height: 3rem;
  color: white;
  border-radius: 50%;
  background-color: #782D50;
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
}


figure{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 20%;
  margin:3rem 0.2rem 5rem;
}

@media screen and (max-width: 480px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    flex-direction: flex;
    font-size: 1rem;
    width: 100%;
  }
  .wrapper {
    width: 400px;
    margin: 0 auto;
  }
  .navbar {
    padding-bottom: 30px;
  }
  img {
    max-width: 100%;
  }
  #header {
    width: 100%;
  }
  h1 {
    width: 60%;
  }
  #header hr {
    width: 2rem;
    margin: 1rem 9rem 0rem;
  }
  .description1 {
    margin: 0.5rem 18rem 0rem;
  }
  .project {
    width: 100%;
  }
  .italic {
    margin: 17rem 15rem 0rem;
  }
  .slider_container {
    width: 100%;
  }
  .slider {
    width: 50%;
  }
  
  .slide.one img {
    width: 100%;
    margin: -1.5rem 0rem 10rem;
    
  }
  
  .slide.two img {
    width: 100%;
   margin: -1.5rem 0rem 10rem;
  
  
  }
  
  .slide.three img {
    width: 100%;
    margin: 1.5rem -13rem 0rem;
    
  }
  .slide .captionA {
    margin: 0rem 3rem 0rem;
    bottom: 80%;
  }
  .slide .captionB {
    margin: 0rem 3rem 0rem;
    bottom: 60%;
  }
  .slide .captionC {
    margin-left: 3rem;
    bottom: 50%;
  }
  .slide .captionD {
    bottom: 80%;
  }
  .slide .captionE {
    bottom: 60%;
  }
  
  .slide .captionF {
    bottom: 50%;
  }
.slide .captionG {
  bottom: 60%;
  height: 8vh;
  padding: 0.5rem 0.5rem 0rem;
  margin-left: -6rem;
}

.slide .captionH {
  bottom: 30%;
  margin-left: -6rem;
  padding-left: 1rem;
}

.slide .captionI {
  bottom: 13%;
  margin-left: -3rem;
}

  .container {
    margin: -5rem 0rem 3rem;

  }
  .container p {
    margin-left: 1rem;
    padding-right: 35rem; 
    width: 100%;
    text-align: justify;
  }
  
  .grid_item button {
    width: 20%;
    height: 7vh;
  }
  .container1 {
    width: 100%;
  }
  .slide .img {
    width: 100%;
  }
  .slide .img_6 {
    margin: 242rem 1rem 0rem;
    bottom: 10%;
    width: 77%;
    height: 17rem;
  }
  .slide hr {
    margin: 227rem 6rem 0rem;
  }
  .slide .captionAA {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 1.5rem;
    color: white;
    width: 45vw;
    height: 25vh;
    display: flex;
    margin: 223rem 6rem 0rem;
    padding-top: 1.5rem;
  }
  .slide .captionA1 {
    margin: 228rem 3rem 0rem;
  }
  .slide .captionBB {
    margin: 231rem 3rem 0rem;
  }
  .slide .captionCC {
    margin: 255rem 10rem 0rem;
  }
  .container2 {
    display: inline-block;
    margin: 0;
    width: 100%;
  }
  .img_7 {
    width: 100%;
  }
  .row_item5 {
    margin-left: 3rem;
    width: 100%;
  }
  .row_item5 span {
    display: block;
    margin-left: 5rem;
    width: 17rem;
    bottom: 3rem;
    position: relative;
    font-size: 1rem;
  }
  .row_item5 p {
    width: 70%;
  }
  .container3 {
    width: 100%;
  }
  .img_8 {
    width: 100%;
  }
  .captionA2 {
    bottom: 69%;
    width: 70%;
  }
  .captionB2 {
    bottom: 53%;
    width: 100%;
    margin-left: 7rem;
  }
  .captionC2 {
    bottom: 30%;
    width: 100%;
    margin-left: 4rem;
    line-height: 30px;
    padding-right: 38rem;
  }
  .captionD2 {
    
    width: 8rem;
    height: 5vh;
    margin-left: 6rem;
    padding: 1rem 1rem 0rem;
  }
  
  
  .captionE2 {
    position: absolute;
    left: 0;
    bottom: 10%;
    font-size: 0.9rem;
    color: white;
    background-color: #782D50;
    border-radius: 0.25rem;
    width: 9rem;
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
    padding: 0rem 1rem 0rem;
    text-align: center;
  }
 
  .content1 {
    display: block;
    width: 70%;
  }
  .row_item6 p {
  
    width:25rem;
    padding-bottom: 4rem;
    height: 4rem;
    margin-left: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    margin-bottom: 1.7rem;
    text-align: justify;
  }
  .row_item6 span {
    display: flex;
    position: relative;
    bottom: 4rem;
  }
  .row_item6 strong {
    flex-direction: row;
    position: relative;
    bottom: 0rem;
  }
  .row_item6:hover {
    opacity: 0.5;
  }
  #content1 {
    display: block;
    margin-bottom: 0rem;
  }
  #content1i {
    display: block;
    position: relative;
    bottom: 12rem;
  }
  .container_home {
    margin: 3rem 0rem 3rem;

  }
  .container_home p {
    margin-left: 5rem;
    padding-right: 35rem; 
    width: 100%;
    text-align: justify;
  }
  .img_9 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 11rem;
    display: block;
    margin-bottom: 1rem;
  }
  .img_10 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 11rem;
    display: block;
    margin-bottom: 1rem;
  }
  .img_11 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 11rem;
    display: block;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  #row1 {
    position: relative;
    bottom: 4rem;
  }
  #row1 strong {
    position: relative;
    bottom: 1rem;
  }
  .img_12 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 11rem;
    display: block;
    margin-bottom: 1rem;
  }
  .content2 {
   
    padding: 1.1rem 1.5rem 0rem;

  }
  .content2 a {
    color: white;
    text-decoration: none;
  }
  #container {
    width: 100%;
  }
  #container h2 {
    margin-left: -35rem;
  }
  .grid_5 {
    width: 100%;
  }
  .grid_5 img {
    width: 100%;
  }
  .content4 {
    width: 100%;
    margin-top: -9rem;
  }
  .content4 p {
    width: 70%;
  }
  .content5 {
    width: 100%;
    margin: 2rem 4rem 0rem;
  }
  .img_17 {
    height: 30vh;
    margin-left: 3rem;
  }
  .img_18 {
    height: 30vh;
    margin-left: 3rem;
  }
  .img_19 {
    height: 30vh;
    margin-left: 3rem;
  }
  .container4 {
    width: 100%;
    padding-left: 2.5rem;
  }
  footer {
    width: 100%;
    bottom: 1rem;
    padding: 3rem 2rem 0rem;
  }
  
  .blog_item1 {
    margin: -1.5rem 0rem 0rem;
    padding: 0rem 8rem 0rem;
  }

  
#blog1{
 
  margin-left: 1rem;
}

.container_blog {
  margin: 3rem 0rem 3rem;
  display: block;
  width: 100%;
}

.container_blog h2 {
  margin-left: 8rem;
}

.container_blog p {
  margin: 1rem 1rem 0rem;
padding-right:35rem;
}

.container_blog hr {
 
  margin: 1rem 14rem 0rem;
}
.blog_item2{
  margin-left: 1.9rem;
}
.blog_item3{
  margin:1rem 1.9rem 0rem ;
}
.blog_item4{
  margin: 1rem 1.9rem 0rem;

}
#btn{
  margin:3rem 2rem 3rem;
}

   .events_item1{
    margin: -2rem 0rem 0rem;
   
   }
  .events_item1 h2 {
  padding-top: 2rem; 
  }

  .events_item2{
    width: 80%;
  }
  
  .events_item2 button{
    margin: 2rem 6rem 0rem;
  }
  .events_item2 button:hover{
    background-color: black;
    color: white;
  }
  
  .events_item3{
    width: 80%;
  }
  .events_item3 button{
    margin:2rem 6rem 0rem;
  }

  .container_projects {
    margin: 3rem 0rem 3rem;
  }
  
  .container_projects h2 {
    margin-left: 6rem;
  }
  .container_projects p {
    margin: 1rem 1rem 0rem;
    padding-right: 2rem;
  }
  
  .container_projects hr {
    margin: 1rem 13rem 0rem;
  }
      
  .projects_item1 h3{
    margin: 2rem 0rem 0rem;
  }
  .projects_item2 h3{
    margin: 2rem 0rem 0rem;
  }
  .projects_item3 h3{
    margin: 2rem 0rem 0rem;
  }
  .projects_item4 h3{
    margin: 2rem 0rem 0rem;
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 1000px;
  }
}