
html {
  padding: 0 ;
  box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "public sans", sans-serif;
  font-size: 18px;
  display: flex;
  background-color: azure;
}
img{
  display: block;
  max-width: 100%;
}
.description{
  display: none
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #782D50;
  width: 25%;
  height: 8%;
  margin: 0rem 0rem 0rem;
}
.img_1{
  width: 13%;
  height: 60%;
  margin: 1rem 1rem 0rem;
 
}
.navbar li{
display: none;

}
.header_link ul{
  display: none;
}
a{
  text-decoration: none;
  color: white;
}

#header{
  margin-top: 7rem;
  width: 60%;
  height: 20%;
}
.image{
  width: 20%;
  height: 20%;
position: absolute;
top: 0;
left: 0;
margin: 7rem 1rem 0rem;
}
 h1{
  font-size: 1.2rem;
  margin: 5rem 7rem 0rem;

}
#header hr{
  width: 5%;
  margin-left: 9rem;
}
.description1{
  display: flex;
  margin: 0.5rem 15rem 0rem;
  height: 2.5rem;
  width: 7rem;
  background-color: #782D50;
  padding: 0.5rem 0.5rem 0rem;
}
.description1:hover{
  background-color: black;
  color: #782D50;
}
.header_link{
  display: flex;
  background-color: black;
}
.menu{
  display: none;
  position: absolute;
  background-color: black;
  right: 0;
  left: 0;
  text-align: center;
  padding: 1.5px 0;
  height: 8rem;
  width: 10rem;
  font-size: 0.9rem;
  bottom: 20rem;
}
#checkbox_toggle{
  display: none;
}
.project{
  display: block;
  background-color: black;
  width: 25%;
  height: 12rem;
  color: #782D50;
 padding: 4rem 9rem 0rem;
 margin: 0rem 0rem 0rem;
}
input[type=checkbox]:checked ~ .menu {
  display: block;
}

.menu li:hover{
  display: inline-block;
  background-color: white;
  transition: 0.3s ease;
}

.menu li + li{
  margin-top: 1px;
  font-size: 0.9rem;
  
}
.italic{
  display: block;
  color: white;
  background-color: black;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 17rem 15rem 0rem;
}

.slider_container{
  position: relative;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  display: flex;
  margin-top: 0rem;
 
  
}

.slide .captionA{
  position: absolute;
  left: 0;
  bottom: 93%;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.348);
  backdrop-filter: blur(0.1px);
  border-radius: 0.25rem 0.25rem;
  width: 60%;
  height: 6vh;
  display:flex;
  margin: 0rem 1rem 0rem;
padding: 0.2rem 0.5rem 0rem;

}

.slide .captionB{
  position: absolute;
  left: 0;
  bottom: 78%;
  font-size: 0.8rem;
  color: black;
  background: rgba(236, 231, 231, 0.348);
  backdrop-filter: blur(1px);
  border-radius: 0.25rem 0.25rem;
  width: 60%;
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem 0rem;
  padding: 0rem 0.5rem 0rem;
  
}

.slide .captionC{
  position: absolute;
  left: 0;
  bottom:73%;
  font-size: 0.7rem;
  width: 32%;
  display: flex;
  height: 2.5rem;
 padding: 0.7rem 0.7rem 0rem;
 border-radius: 0.25rem;
  background-color: #782D50;
  margin-left: 1rem;
}
.captionC:hover{
background-color: black;
}

.slide .captionD{
  position: absolute;
  left: 0%;
  bottom: 57%;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.348);
  backdrop-filter: blur(0.1px);
  border-radius:0.25rem 0.25rem ;
  width:63%;
  height: 10vh;
  display: flex;
  margin-left: 6rem;
padding: 0.3rem 1rem 0rem;

}
.slide .captionE{
  position: absolute;
  left: 0%;
  bottom: 44%;
  font-size: 0.8rem;
  color: black;
  background: rgba(236, 231, 231, 0.348);
  backdrop-filter: blur(1px);
  border-radius: 0.25rem 0.25rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
  padding: 0rem 1rem 0rem;
  width: 62%;
  height: 22vh;
}
.slide .captionF{
  position: absolute;
  left: 0;
  bottom: 40%;
  font-size: 0.7rem;
 margin-top: 10rem;
  width: 32%;
height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 0.2rem 1rem 0rem;
  border-radius: 0.25rem;
   background-color: #782D50;
   margin-left: 12rem;
}
.captionF:hover{
 background-color: black;
}

.slide .captionG{
  position: absolute;
  left: 0;
  bottom: 25%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.348);
  backdrop-filter: blur(1px);
  border-radius: 0.25rem 0.25rem ;
  width:63%;
  height: 10vh;
  display: block;
  padding: 0.5rem 0.5rem 0rem;
margin-left: 5rem;

}
.slide .captionH{
  position: absolute;
  left: 0;
  bottom: 11.5%;
  font-size: 0.8rem;
  color: black;
  background: rgba(236, 231, 231, 0.348);
  backdrop-filter: blur(1px);
  border-radius: 0.25rem 0.25rem ;
  width: 63%;
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:  5rem;
  padding-left: 1rem;
 
 
}
.slide .captionI{
  position: absolute;
  left: 0;
  bottom: 7%;
  font-size: 0.7rem;
  width: 32%;
height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
padding: 0.2rem 1rem 0rem;
  border-radius: 0.25rem;
   background-color: #782D50;
   margin-left:  8rem;
}
.captionI:hover{
 background-color: black;
} 

.container{
  margin: 2rem 0rem 3rem;
  display:block;
  width: 60%;
}

.container h2{
 font-size: 1.5rem;
  display: block;
  margin-left: 5rem;
}

.container p{
  width: 30%;
  display: block;
justify-content: space-between;
align-items: center;
line-height: 25px;
margin: 1rem 4rem 0rem;
font-size: 0.9rem;
}
.container hr{
width: 5%;
text-align: center;
bottom: 70%;
margin: 1rem 11rem 0rem;
}

.img_2{
  width:100%;
 height: 25%;
  padding: 0rem 2rem 0rem;
  background-color: whitesmoke;
  border-radius: 0.25rem  0.25rem  0 0;
  }
  .img_2:hover{
  background-color: whitesmoke;
  
  }
  .img_3{
  width: 100%;
  padding: 0rem 2rem 0rem;
  background-color: whitesmoke;
  border-radius: 0.25rem  0.25rem  0 0;
  }
  .img_3:hover{
  background-color: whitesmoke;
  }
  .img_4{
  width: 100%;
  background-color: whitesmoke;
  border-radius: 0.25rem  0.25rem  0 0;
  }
  .img_4:hover{
  background-color: whitesmoke;
  }
  .img_5{
  width: 20%;
  background-color: whitesmoke;
  border-radius: 0.25rem  0.25rem  0 0;
  }
  .img_5:hover{
  background-color: whitesmoke;
  }
  
.content{
  display: block;
  margin: 5rem 0rem 75rem 0rem;
  height: 90vh;
  width:50%;
  
  }
  .content_one{
  display: block;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  height: 100rem;
  width: 20rem;
  margin-left: 0rem;
  margin-bottom: 40rem;
  }
  .contentA{
  display: block;
  margin-left: 2rem;
  }
  
  .content h3{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  }
  
  .grid_item1:hover{
    background-color: white;
  }
  .grid_item2:hover{
    background-color: white; 
  }
  .grid_item3:hover{
    background-color: white; 
  }
  .grid_item4:hover{
    background-color: white; 
  }
  .grid_item1{
    margin-top: 1rem;
    margin-bottom: rem;
    display: block;
    width: 20rem;
    height: 40rem;
    background-color: whitesmoke; 
    margin-left: 2rem;
   border-radius: 0.5rem ;
  }
  .grid_item1 p{
    line-height: 25px;
    font-size: 0.8rem;
    width: 20rem;
    padding: 0.5rem 1rem;
    text-align: justify;
   
  }
  .grid_item1 i{
    padding-right: 0rem;
    color: #782D50;
  }
  
  .grid_item1 .date{
    margin-top: 1rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  
  }
  .grid_item1 .comment{
    margin-top:2rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  
  }
  .grid_item2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    justify-content: center;
    background-color: whitesmoke; 
    margin-left: 2rem;
    height: 35rem;
    border-radius: 0.5rem ;
    width: 20rem;
  }
  .grid_item2 p{
    line-height: 25px;
    font-size: 0.8rem;
    width: 20rem;
    padding: 0.5rem 2rem;
    text-align: justify;
  }
  
  .grid_item2 i{
    padding-right: 0rem;
    color: #782D50;
  }
  
  .grid_item2 .date{
    margin-top: 2rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  
  }
  .grid_item2 .comment{
    margin-top:2rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  
  }
  .grid_item3{
    margin-top: 1rem;
    margin-bottom: 0rem;
    display: block;
    justify-content: center;
   align-items: center;
   width: 20rem;
   background-color: whitesmoke; 
   margin-left: 2rem;
   height: 34rem;
   border-radius: 0.5rem ;
  }
  .grid_item3 p{
    line-height: 25px;
    font-size: 0.8rem;
    width: 20rem;
    padding: 0.5rem 2rem;
    text-align: justify;
  }
  
  .grid_item3 i{
    padding-right: 0rem;
    color: #782D50;
  }
  
  .grid_item3 .date{
    margin-top: 2rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  
  }
  .grid_item3 .comment{
    margin-top:2rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  
  }
  .grid_item4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    justify-content: center;
    width: 20rem;  
    background-color: whitesmoke; 
    margin-left: 3rem;
    height: 16rem;
    border-radius: 0.5rem ;
  }
  .grid_item4 p{
    line-height: 25px;
    font-size: 0.9rem;
    width: 20rem;
    height: 10rem;
    padding: 0.5rem 2rem;
    text-align: justify;
  }
  .grid_item4 i{
    padding-right: 0rem;
    color: #782D50;
  }
  
  .grid_item4 .date{
    margin-top: 2rem;
    margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  height: 10rem;
  }
  .grid_item4 .comment{
    margin-top:2rem;
    margin-bottom: 2rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #782D50;
  height: 10rem;
  }
  .grid_item button{
    color: white;
    border: 1px solid rgb(69, 235, 235);
    background-color: #782D50;
    width: 10%;
    height: 9vh;
    margin:2rem 0rem 2rem 3rem;
    border-radius: 5px;
    
  }
  .grid_item button:hover{
    background-color: black;
  }
  .grid_item a{
    color: white;
    text-decoration: none;
  }
  .container1{
    margin-bottom: 1rem;
    width: 50%;
  }
  
.slide  .img{
  height: 30rem;
  padding: 0rem 0.5rem 0rem;
  width: 50%;
  display: flex;
 position: relative;
 top: 0;
 left: 0;
}
.slide .img_6 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0rem;
width: 65%;
height: 13rem;
  display:block; 
  margin:228rem 4rem 0rem;
   
}
.slide hr{
  width: 5%;
 position: absolute;
 left: 0;
 top: 0;
 bottom: 0;
 display: block;
 margin: 214rem 4rem 0rem;
}

.slide .captionAA{
  
 position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 1.5rem;
  color: white;
  width: 45vw;
  height: 25vh;
  display:flex;
  margin: 210rem 4rem 0rem;
padding-top: 1.5rem;

}
.slide .captionA1{
position: absolute;
top: 0;
  left: 0;
  bottom: 0%;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  width:40%;
  height: 7vh;
  display: flex;
  margin: 216rem 4rem 0rem;
  


}
.slide .captionBB{
 position: absolute;
 top: 0;
  left: 0;
  bottom:0%;
  font-size: 0.8rem;
  color: white;
  width: 50%;
  display:block;
  margin: 220rem 4rem 0rem;
  line-height: 1rem;
  height: 3vh;
}
.slide .captionCC{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size:0.7rem;
  width: 24%;
  display:block;
  margin: 235rem 8rem 0rem;
  padding-left: 0.8rem;
  padding-top: 0.5rem;
height: 2rem;
border-radius: 0.25rem;
background-color: #782D50;
}
.captionCC:hover{
background-color: black;
}

.container2{
  display: inline-block;
  margin: 3rem 0 auto;
  width: 50%;;
}
.img_7{
margin-left: 0rem;
width: 50%;
height: 70vh;
margin-top: 0rem;
display: block;
}
.row_item5{
display: block;
margin-left: 2rem;
margin-top: 1rem;
width: 70%;
}
.row_item5 h2{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  width: 90%;
}
.row_item5 hr{

  width:2rem;
  text-align: center;
  margin-left: 0rem;
margin-top: 0rem;
margin-bottom: 2rem;
}
.row_item5 span{
  display: block;
margin-left: 5rem;
  width: 17rem;
bottom: 3rem;
position: relative;
 font-size: 1rem;
}

.n1{
 position: absolute;
width: 10vw;
height: 10vh;
margin-left: 6rem;
font-size: 4rem;
opacity: 0.1;

}
.n2{
  position: absolute;
  width: 10vw;
  height: 10vh;
  margin-left: 6rem;
  font-size: 4rem;
 opacity: 0.1;
  
}
.n3{
  position: absolute;
  width: 10vw;
  height: 10vh;
  margin-left: 6rem;
  font-size: 4rem;
  opacity: 0.1;
}
.row_item5 h3{
  margin-bottom: 0rem;
  font-size: 25px;
  margin-left: 0rem;
}
h3 i{
  display: block;
  padding: 1.5rem 1.5rem 0;
 color: white;
 background-color: #782D50;
 border-radius: 50%;
 width: 70px;
 height: 70px;
}


.row_item5 p{
  display: block;
  font-size: 0.8rem;
  width: 50%;
  margin: 0 3rem 0rem;
  line-height: 20px;
  padding: 0rem 1rem;
  text-align: justify;

}
.img_8{

  height: 100%;
  width: 50%;
 
}
.container3{
  display: flex;
  position: relative;
width:50%;
}
.captionA2{
  position:absolute;
  left: 0;
  bottom: 75%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  border-radius: 0 2rem 2rem 0 ;
  width:50%;
  height: 7vh;
  display: flex;
  margin-left: 3rem;

}
.captionB2{
  position:absolute;
  left: 0;
  bottom: 58%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  border-radius: 0 2rem 2rem 0 ;
  width: 50%;
  height: 7vh;
  display: flex;
  margin-left: 3rem;


}
.captionC2{
  position:absolute;
  left: 0;
  bottom: 30%;
  font-size: 0.8rem;
  color: white;
  text-transform: capitalize;
  border-radius: 0 2rem 2rem 0 ;
  width: 40%;
  height: 12vh;
  display: flex;
  margin-left: 3rem;
 


}
.captionD2{
  position:absolute;
  left: 0;
  bottom: 10%;
  font-size: 0.9rem;
  color: #782D50;
  background-color: white;
  border-radius: 0.25rem ;
  width: 8rem;
  height: 7vh;
  display:flex;
  margin-left: 3rem;
  padding: 0.5rem 1rem 0rem;
  text-align: center;

}

.captionD2:hover{
  background-color: black;
}
.captionD2 a{
  color: #782D50;
  text-decoration: none;
}
.captionE2{
  position:absolute;
  left: 0;
  bottom: 10%;
  font-size: 0.9rem;
  color: white;
  background-color:#782D50;
  border-radius: 0.25rem ;
  width: 9rem;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12rem;
  padding: 0rem 1rem 0rem;
  text-align: center;
}
.captionE2 a{
  color: white;
  text-decoration: none;
}
.captionE2:hover{
  background-color: black;
}
.content1{
display: block;
width: 70%;

  
}
.row_item6 p{
  padding-left: 1rem;
  width:23rem;
  padding-bottom: 4rem;
  height: 2rem;
 margin-left: 1rem;
line-height: 1.5rem;
 font-size: 0.8rem;
 margin-bottom: 1rem;
 text-align: justify;
}
.row_item6 span{
  display: flex;
  position: relative;
  bottom: 3.5rem;
}
.row_item6 strong{
  flex-direction: row;
  position: relative;
  bottom: 0.3rem;
  
}

.row_item6:hover {
  opacity: 0.5;
  
}
#content1{
  display: block;
  margin-bottom:0rem;
}
#content1i{
  display: block;
  position: relative;
  bottom: 12rem;
}
.img_9{
  width:120px;
  height: 120px;    
  border-radius: 50%;
  margin-left: 8rem;
display: block;
margin-bottom: 1rem;
}

.img_10{
  width:120px;
  height: 120px;    
  border-radius: 50%;
  margin-left: 8rem;
  display: block;
  margin-bottom: 1rem;
}
.img_11{
  width:120px;
  height: 120px;    
  border-radius: 50%;
  margin-left: 8rem;
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
#row1{
position: relative;
  bottom: 4rem;
}
.img_12{
  width:120px;
  height: 120px;    
  border-radius: 50%;
  margin-left: 8rem;
  display: block;
  margin-bottom: 1rem;
 
}
.content2{
  color: white;
  background-color: #782D50;
  width: 15rem;
 padding: 0.5rem 0.5rem 0rem 2rem;
  height: 8vh;
  margin: 0 0 0 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
 position: relative;
 display: flex;
 bottom: 22rem;
 
}
.content2 a{
  color: white;
  text-decoration: none;
}
.content2:hover{
  background-color: black;
}
#container{
  
  text-align: center;
  display: block; 
  position: relative;
  bottom: 18rem;
width: 50%;
}

#container h2{
  font-size:1.5rem;
   display: block;
   margin-left: -25rem;
   margin-top: 0;
   justify-content: center;
align-items: center;
}
#container p{
  width: 22rem;
  text-align: center;
  display: block;
justify-content: center;
align-items: center;
letter-spacing: 0px;
line-height: 25px;
margin-left: 2rem;
margin-top: 0;
font-size: 0.8rem;

}
#container hr{

width: 2rem;
text-align: center;
margin-left: 12rem;
margin-bottom: 1rem;
margin-top: 0.5rem;

}
.content3{
  bottom: 13rem;
  position: relative;
  display: flex;
  flex-direction: column;
margin: 0 0 0 3rem;
  width: 100rem;
  
 
}
.content3 img:hover{
  opacity: 0.5;
 
}
.overlay{
	position: relative;
	display: inline-block;
}
.overlay:hover .content3A{
  display: block;
}
.content3A a{
  color: #782D50;
}
.content3A{

	padding-top: 7px;	
	padding-right: 18px;
	position: absolute;
	right: 87%;
	top: 30%;
	display: none;
  font-size:50px;
}
#img_13{
  width:20rem;
  height: 18rem;
  display: flex;
  margin-bottom: 1rem;

}
#img_14{
  width: 20rem;
  height: 18rem;
  display: block;
  margin-bottom: 1rem;
}
#img_15{
  width: 20rem;
  height:18rem;
  display: block;
  
}

.grid_5{
  display: flex;
  margin-bottom: 0rem;
  width: 50%;
}

.grid_5 img{
  height: 40rem;
margin-top: 0rem;
 width: 50%;
position: relative;
bottom:10rem;
}
.grid_6{
  position: absolute;
  left: 0;
  width: 50%;
  height: 35vh;
  display:flex;
flex-direction: column;


}
.grid_6 h2{
  position: absolute;
  left: 0;
  bottom:55rem;
  font-size:1.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.348);
  backdrop-filter: blur(2px);
  width: 13rem;
  height: 10vh;
  display:flex;
padding: 0.5rem 1rem 0rem;
  
}
.grid_6 h3{
  position: absolute;
  left: 0;
  bottom: 46rem;
  font-size: 0.9rem;
  color: #782D50;
  background: rgba(0, 0, 0, 0.348);
  backdrop-filter: blur(1px);
  width: 13rem;
  height: 30vh;
  display:flex;
  padding-left: 0.5rem;
margin-top: 0.5rem;
  
}

.grid_6 h3:hover{
  color: white;
}
.grid_6i{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  bottom: 42rem;
  font-size: 0.7rem;
  color: #782D50;
  background: rgba(0, 0, 0, 0.348);
backdrop-filter: blur(2px);
  width: 13rem;
  height: 15vh;
  display:flex;

  padding-left: 1.5rem;
  padding-right: 2rem;
  
}
.grid_6i .time{
 
  padding-right: 2rem;

}
.grid_6 p{
  position: absolute;
  left: 0;
  bottom: 21rem;
  font-size: 0.8rem;
 line-height: 1.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.348);
  backdrop-filter: blur(2px);
  width: 13rem;
  height: 67vh;
  display:flex;
  padding-left: 0.5rem;
 padding-top: 0.5rem;
}
.grid_7{
  position: absolute;
  left: 0;
  width: 50%;
  height: 35vh;
  display:flex;
flex-direction: column;
}
.grid_7 h2{
  position: absolute;
  left: 0;
  bottom: 51rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  width: 40vw;
  height: 25vh;
  display:flex;
  margin-left: 12rem;
  padding-left: 3rem;
  padding-right: 2rem;

}
.grid_7 hr{
  position: absolute;
  left: 0;
  bottom: 54rem;
  font-weight: 600;
  color: white;
  width: 5%;
  margin-left: 15rem;
  


}
.grid_7 p{
  position: absolute;
  left: 0;
  bottom: 38rem;
  font-size: 0.8rem;
line-height: 1.5rem;
  color: white;
  width: 17rem;
  height: 30vh;
  display:flex;
  margin-left: 10.5rem;
  padding-left: 3rem;
  padding-right: 2rem;

}
.grid_7 p:hover{
  color: #782D50;
}
.grid_7i {
  position: absolute;
  left: 0;
  bottom: 28rem;
  font-size: 0.6rem;
  color: #782D50;
  width: 15rem;
  height: 25vh;
  display:flex;
  margin-left: 11rem;
  padding-left: 3rem;
  

}
.grid_7i .time{
  padding-right: 2rem;
}
.grid_7 button{
  position: absolute;
  left: 0;
  bottom: 49rem;
  font-size: 0.9rem;
  color: white;
  background-color: #782D50;
  width: 5rem;
  height: 12vh;
  display:flex;
  margin-left: 14rem;
border: none;
  padding-right: 2rem;

}
.grid_7 .Date{
  margin-top: 1.5rem;

}
.content4{
  width: 50%;
  margin-top: -7rem;
}
.content4 h2{
  font-size:1.5rem;
   display: block;
   margin-left: 9rem;
}

.content4 p{
   width: 40%;
   text-align: justify;
   display: block;
justify-content: space-between;
line-height: 25px;
margin-left: 3rem;
margin-top: 1.5rem;
font-size: 0.8rem;
}
.content4 hr{

width: 2rem;
text-align: center;
margin-left: 12rem;
bottom: 70%;
margin-top: 1rem;
}

.content5{
  margin-top: 2rem;
  display:block;
  margin-left: 2rem;
  margin-bottom: 3rem;
  width: 40%;
}
.img_17{
  width: 15rem;
  height: 50vh;
  margin-bottom: 1rem;
  border: 1px solid whitesmoke;
  margin-left: 2rem;
}


.img_18{
  width: 15rem;
  height: 50vh;
  margin-bottom: 1rem;
  border: 1px solid whitesmoke;
  margin-left: 2rem;
}
.img_19{
  width: 15rem;
  height: 50vh;
  border: 1px solid whitesmoke;
  margin-left: 2rem;
}



.container4{
  width: 25%;
  height: 65rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
}

.img_20{
 width: 15rem;
 height: 45vh;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 2rem 5rem 0rem;
 
}
.content6 h3{
  margin-top: 0.5rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  color: #782D50;
  font-size: 1.5rem;
}

.content6 hr{
  width:1.5rem;
  margin-left: 7rem;
  margin-top: 0rem;
}
.content7 h3{
  margin-top: 1rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  color: #782D50;
  font-size: 1.5rem;
}
.content7 hr{
  width:1.5rem;
  margin-left: 8rem;
  margin-top: 1rem;
}

.container4 ul{
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
 
}

.container4 li{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: white;
  list-style:disc;
  
}
.container4 p{
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: 1rem;
 color: white;
 margin-top: 1.5rem;
 margin-left: 5rem;
 width: 17rem;
}
.content8 h3{
  margin-top: 3rem;
  margin-left: 6rem;
  margin-bottom: 0rem;
  color: #782D50;
}
.content8 hr{
  width:3vw;
  margin-left: 7rem;
  margin-top: 1rem;
  color: #782D50;
  
}
.content8 P{
  color: #782D50;
  background-color: white;
  display: block;
  width: 10rem;
  padding-left: 2.5rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  height: 9vh;
}
.content8 a{
  color: #782D50;
  text-decoration: none;
 
}
p i{
  display: block;
 padding-right: 1rem;
 color: white;
}

h4 i  {
  display: block;

  color:#782D50;
  margin-top: 1.5rem;
  font-size: 1rem;
margin-left: 2rem;
padding-left: 1rem;
}


.content8 P:hover{
  background-color: black;
  color: white;
}
 footer{
  display: flex;
  background-color: black;
  width: 25%;
  height: 12vh;
  color: white;
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 0.7rem;
  position: relative;
  bottom: 0rem;
  
 }
 
 footer span{
  color:#782D50

 }